@import url("../vendor/normalize.css");
@import url("../vendor/fonts/fonts.css");
@import url("../blocks/page/page.css");
@import url("../blocks/logo/logo.css");
@import url("../blocks/header/header.css");
@import url("../blocks/header/__list/header__list.css");
@import url("../blocks/header/__list-item/header__list-item.css");
@import url("../blocks/header/__list-link/header__list-link.css");

.header__place {
    min-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main-illustration {
    margin: 0 auto;
    display: block;
}

.main-content {
    background-color: #fff;
    color: #000;
    margin: 0 10px;
    border-radius: 10px;
    padding: 0 55px;
    font-style: normal;
}

.content {
    max-width: 716px;
}

.title {
    padding: 60px 0 44px;
    margin: 0;
    font-size: 30px;
    line-height: 1.2;
    font-weight: 400;
}

.content__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.21;
}

.content__text_list {
    padding: 0 0 0 30px;
    margin: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.21;
}

.content__text_list-item {
    list-style-type: '\2014\a0';
    padding-bottom: 18px;
}

/*  Форма */
.poetry-form {
    padding-bottom: 86px;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    max-width: 600px;
}
 .form__text {
     font-weight: 400;
     font-size: 18px;
     line-height: 1.21;
     color: #000;
     border: solid 2px #000;
     border-radius: 30px;
     margin: 0 0 16px 0;
     padding: 19px 24px;
 }
::placeholder {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.21;
    color: #000;
}
.form__radio {
    /*margin: 35px 0;*/
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}
.form__radio-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.21;
    cursor: pointer;
}

.form__radio-img {
    display: inline-block;
    vertical-align: middle;
    width:  27px;
    height: 27px;
    margin-right: 14px;
    border-radius: 50%;
    border: 2px solid #000;
}
.form__radio-img:hover {
    /*пока нет стилей от дизайнера*/
}

.form__radio-img:checked {
/*пока нет стилей от дизайнера*/
}
.form__radio-link {
    color: #000;
}
.form__button {
    margin-top: 88px;
    background: none;
    color: inherit;
    border: none;
    padding: 19px 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.21;
    border: 2px solid #000;
    border-radius: 30px;
}

/*Footer*/
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer__copyright {
    color: #fff;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.21;
    padding: 35px;
}


/*Player*/

audio::-webkit-media-controls-play-button{
    background-color:green;}

audio::-webkit-media-controls-panel {
    top: 20px;
    background-color:green;
}
.player__block {
    display: flex;
    width: 90vw;
    justify-content: space-between;
}

.player__about-song {
    flex-basis: 80%;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
}

.player__title {
    flex-basis: 80%;
}

.player__range {
    width: 80vw;
}
.player__button {
    color: white;
    background-color: transparent;
    outline: none;
    border: none;
}
.player__button-size {
    border: 1px white solid;
    border-radius: 200px;
    background-color: white;
    width: 24px;
    height: 24px;
}

.player__button-size:checked {
    content: url('../images/play.png');
}


.player__lyrics {
    border-radius: 200px;
    border: 1px white solid;
}

.player__play-button {
    background-image: url('../images/play.png');
    background-position: center;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
}

.audio-player {
    margin-bottom: 15px;
}
